* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

/* SECTION DE LA CARGA */

section.loading {
  height: 100vh;
  width: 100vw;
  opacity: 0.9;
  font-size: 3rem;
  text-align: center;
  display: grid;
  place-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  animation-name: moveColor;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  font-family: "Tinos" serif;
}

@keyframes moveColor {
  0% {
    background-color: rgb(199, 218, 240);
  }
  50% {
    background-color: rgb(166, 217, 230);
  }
  100% {
    background-color: rgb(199, 218, 240);
  }
}

section.loading > h1 {
  font-size: 3rem;
}

header {
  font-family: "Charm", serif;
  font-size: 2.5rem;
  text-align: center;
  opacity: 0.8;
  background-image: url(../imagenes/playa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  display: grid;
  place-content: center;
}

h1 {
  font-weight: normal;
  color: white;
  /* background: linear-gradient(
    to right,
    rgb(246, 189, 0) 10%,
    rgb(248, 228, 164) 65%,
    rgb(250, 239, 204) 30%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  text-shadow: 3px 3px 1px black;
}

main {
  height: 80vh;
  background-color: rgb(238, 238, 238);
}

/* CSS DEL FORM EMPIEZA AQUÍ */

main section {
  height: 300px;
  width: 80vw;
  max-width: 450px;
  background-color: lightgray;
  margin: 0 auto;
  display: grid;
  place-content: center;
  position: relative;
  bottom: 13px;
  border-radius: 5px;
}

form {
  /* ESTUDIAR POSIBLE CAMBIO DE COLOR DE SOMBRA */
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px black;
  /* Así se añade el gradiente */
  background: linear-gradient(white, rgb(208, 235, 236), rgb(146, 229, 250));
  /* La versión de abajo es con un gradiente a gris muy claro
   background-image: linear-gradient(white, rgb(238, 238, 238))
   Así con un gris más metalizado:
   background-image: linear-gradient(white, rgb(150, 154, 155));
   Así con un color azul marino:
   background-image: linear-gradient(white, rgb(146, 229, 250));
   */
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 3rem 1fr;
  grid-template-rows: repeat(3, 1fr) 0.5fr;
  gap: 0.5rem;
  height: 300px;
  width: 80vw;
  max-width: 450px;
  align-items: center;
  justify-items: center;
}

/* CSS DEL FORM TERMINA AQUÍ */
/* CSS DE LOS ELEMENTOS DEL FORM EMPIEZA AQUÍ */

input,
button {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Tinos", serif;
}

#viajar,
#origen,
#destino {
  border-radius: 5px;
}

#origen,
#destino {
  height: 3rem;
  width: 10rem;
  justify-self: end;
}

#origen {
  margin-top: 2rem;
}

#destino {
  margin-bottom: 2rem;
  grid-column: 3/4;
  grid-row: 3/4;
  justify-self: start;
}

::placeholder {
  color: rgba(177, 171, 171, 0.719);
}

#cambio,
#viajar {
  cursor: pointer;
}

#cambio {
  height: 3rem;
  width: 3rem;
  grid-column: 2/3;
  grid-row: 2/3;
  /* Hay que corregir la imagen/botón. En resoluciones más pequeñas se corta y hay que cambiar el color del fondo */
  background: linear-gradient(white, rgb(208, 235, 236), rgb(146, 229, 250));
  background-image: url(../imagenes/arrow.png);
  background-size: cover;
  background-position: center;
  border: 0;
  transition: 0.1s transform;
}

#cambio:active {
  transform: scale(0.8);
}

#viajar {
  margin-bottom: 1rem;
  grid-column: 2/4;
  grid-row: 4/5;
  align-self: center;
  width: 10rem;
  height: 2.5rem;
  background-color: rgb(245, 239, 163);
  box-shadow: 3px 3px 8px 0px black;
  transition: 0.1s transform;
  /*   align-self: stretch;
  justify-self: stretch; */
}

#viajar:active {
  box-shadow: 0 0 0 black, inset 4px 4px 4px black;
  transform: scale(0.95);
}

/* CSS DE LOS ELEMENTOS DEL FORM EMPIEZA AQUÍ */

label {
  display: none;
}

/* Seccion Vuelo */

section.seccion_vuelos {
  display: flex;
  flex-direction: column;
  width: 80vw;
  background-color: lightgray;
  margin: 0 auto;
  list-style: none;
  gap: 10px;
}

li.billete {
  display: flex;
  flex-direction: row;
  width: 80vw;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  align-content: center;
}

article {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  /* text-align: center; */
}

/* article li {
  display: flex;
  flex-direction: row;
} */

section > h2 {
  font-size: 3.5rem;
  text-align: center;
}

li h2 {
  font-size: 2.3rem;
}

p#precio {
  display: inline-block;
  width: 33%;
  font-weight: bold;
  border: 2px solid black;
  padding: 0.5rem;
  text-align: center;
}

li p {
  display: inline;
  font-size: 1.5rem;
}

@media (max-width: 540px) {
  section.loading > h1 {
    font-size: 2.5rem;
  }
  #origen,
  #destino {
    width: 8rem;
  }

  #viajar {
    width: 9rem;
    height: 2.5rem;
  }
}
@media (max-width: 400px) {
  #origen,
  #destino {
    width: 5.4rem;
  }

  #cambio {
    width: 3rem;
  }

  #viajar {
    width: 7rem;
    height: 2rem;
  }
}

@media (max-width: 300px) {
  section.loading > h1 {
    font-size: 2rem;
  }

  header {
    font-size: 1.5rem;
  }

  input,
  button {
    font-size: 1rem;
    text-align: center;
  }

  #origen,
  #destino {
    width: 4rem;
  }

  #cambio {
    width: 3rem;
  }

  #viajar {
    width: 7rem;
    height: 2rem;
  }

  p#precio {
    font-size: 1rem;
  }
}

/* DESKTOP */
@media (min-width: 800px) {
  main section {
    height: 400px;
    max-width: 60vw;
  }

  form {
    max-width: 60vw;
    height: 400px;
  }

  #viajar {
    width: 15rem;
    height: 3rem;
    justify-self: right;
    margin-right: 3rem;
  }
  #cambio {
    background-size: 80px;
    width: 5rem;
    height: 5rem;
  }

  h1 {
    font-size: 8rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1080px) {
  #origen,
  #cambio,
  #destino {
    margin-right: 2rem;
  }
  section.loading > h1 {
    font-size: 4rem;
  }
}
